DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL="https://api.deepseek.com"
OPENAI_API_KEY=
GEMINI_API_KEY=
# to use google cloud api, should login with ```gcloud config set project <project_id>``` 
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=True